@import "../main";

.movies {
  &__skeleton {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  &__item {
    &:not(:last-child) {
      padding-right: toRem(25);
    }
  }

  @media screen and (max-width: 1290px) {
    width: 100%;
  }
  .ant-pagination {
    margin-top: 50px;
    text-align: center;
  }

  .ant-tabs-nav-wrap {
    justify-content: center;
  }

  .ant-tabs-tab-btn {
    font-size: 1.2rem;
    color: #000;
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: #fb4226 !important;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;

    &--left {
      left: toRem(-10);
    }

    &--right {
      right: toRem(-10);
    }
  }
}
