@import "../main";

.movie {
  border: none !important;
  transition: all 0.5s;

  &__poster {
    position: relative;
    transition: all 0.5s;

    border-top-left-radius: toRem(15);
    border-top-right-radius: toRem(15);

    &--img {
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: toRem(15) !important;
      border-top-right-radius: toRem(15) !important;
      height: toRem(375);
      display: block;

      position: relative;
      transition: all 0.5s ease 0s;
    }
  }

  &__content {
    text-overflow: ellipsis;

    &--title {
      font-size: toRem(18);
      line-height: 1.33;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &--genres {
      font-size: toRem(16);
      line-height: 1.33;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $nearly-grey;
    }
  }

  &__info {
    padding: toRem(16) 0;
  }

  .ant-card {
    margin-bottom: toRem(40);
    box-shadow: none;
  }

  .ant-card-body {
    padding: 0;
  }
}

.movie-recommend {
  background-color: transparent;

  .ant-card-body {
    background-color: $nearly-blue;
  }

  .movie__content {
    color: $white;
  }
}
