@import "../main";

.poster {
  position: relative;
  color: $white;
  margin-bottom: toRem(50);
  border-bottom: 1px solid #000;
  background-position: right 0 top;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: toRem(650);

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
  }

  &__wrapper {
    padding: toRem(30);
    max-width: toRem(1256);
    margin: 0 auto;
  }

  &__text {
    color: $white;
    letter-spacing: 1px;

    &--title {
      font-size: toRem(48);
      margin-bottom: toRem(15);
      font-weight: 600;
      line-height: toRem(48);
    }

    &--genres {
      margin-right: toRem(10);
      font-size: toRem(14);
      margin-left: toRem(7);
    }

    &--runtime {
      font-size: toRem(14);
      &::before {
        content: "";
        width: toRem(7);
        height: toRem(7);
        background-color: $white;
        border-radius: 50%;
        display: inline-block;
        margin: 0 toRem(3);
      }
    }

    &--heading {
      font-size: toRem(18);
      font-weight: 700;
    }

    &--desc {
      font-size: toRem(14);
      text-overflow: ellipsis;

      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__item {
    &--booking {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
      justify-content: space-between;
      align-items: center;

      &-available {
        padding: toRem(20) toRem(50);
        border-radius: 5px;
        background-color: $nearly-red;
        border: none;
        color: $white;
        &:hover {
          background-color: $nearly-red;
          color: $white;
        }
      }
      &-commingsoon {
        padding: toRem(20) toRem(50);
        border-radius: 5px;
      }
    }

    &__icon {
      // transform: translate(toRem(0), toRem(-0));
    }
  }

  &__detail {
    position: relative;
    height: 100%;
  }

  &__action {
    display: inline-block;
    margin-right: toRem(20);

    &--score {
      padding: toRem(5);
      display: inline-block;
      border-radius: 50%;
      background-color: $dark-blue;
      margin-right: 20px;

      .ant-progress-text {
        width: toRem(50);
        font-weight: 800;
        color: $white !important;
      }
    }

    &__btn {
      width: toRem(35);
      height: toRem(35);
      border-radius: 50%;
      background-color: $dark-blue;
      border: none;
      color: $white;
      font-size: toRem(12);
    }
  }

  //OVERRIDE
  .ant-progress-inner {
    width: toRem(80) !important;
    height: toRem(80) !important;
  }
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 32px;
  fill: #fff;
}

.rating__info {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span.anticon.anticon-star {
    margin-left: 5px;
  }

  span.anticon.anticon-comment {
    margin-left: 5px;
  }
}

form.commentList__form.commentList__form--active {
  padding-right: 35px;
}
